# The Movie Database
TMDB_API_KEY=<your-tmdb-api-key>

# MongoDB
MONGODB_USER=<your-mongodb-user>
MONGODB_PASSWORD=<your-mongodb-password>
MONGODB_SRV=<your-mongodb-server>
MONGODB_DATABASE=<your-mongodb-database>
MONGO_URI=mongodb+srv://<your-mongodb-user>:<your-mongodb-password>@<your-mongodb-server>.rdjgn.mongodb.net/

# PostgreSQ
POSTGRES_USER=<your-postgres-user>
POSTGRES_PASSWORD=<your-postgres-password>
POSTGRES_DB=<your-postgres-database>
POSTGRES_HOST=postgres_container
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=<your-pgadmin-email>
PGADMIN_DEFAULT_PASSWORD=<your-pgadmin-password>

# Prefect
PREFECT_API_URL=http://prefect-server:4200/api
PREFECT_SERVER_API_HOST=prefect-server
PREFECT_LOGGING_LOG_PRINTS=True

# Schedule
ANCHOR_DATE=<your-schedule> #ex: 2024-12-29 10:00:00
TIMEZONE=<your-timezone> #ex: Asia/Saigon